.button-icon-new {
  @include reset-button-styles;

  display: flex;
  justify-content: space-between;
  min-height: 62px;

  background-color: $basic-yellow-color;

  padding-left: 21px;
  padding-right: 23px;
  box-sizing: border-box;
  border-radius: 10px;

  font-family: inherit;
  align-items: center;

  &:hover {
    background-color: $special-yellow-dark;
  }

  &:active .button-icon-new__text {
    color: rgba($basic_blue_light, 0.3);
  }

  &:active .button-icon-new__icon {
    fill: rgba($basic_blue_light, 0.3);
  }

  &--border-theme {
    box-shadow: inset 0 0 0 2px $basic_blue_light;
  }

  &--border-theme:hover {
    background-color: #192144;
  }

  &--border-theme:hover .button-icon-new__text {
    color: #ffffff;
  }

  &--border-theme:hover .button-icon-new__icon {
    fill: #ffffff;
  }

  &--border-theme:active {
    background-color: #192144;
  }

  &--border-theme:active .button-icon-new__text {
    color: rgba(#ffffff, 0.3);
  }

  &--border-theme:active .button-icon-new__icon {
    fill: rgba(#ffffff, 0.3);
  }
}

.button-icon-new--styles-add-plan-travel {
  justify-content: center;

  border-radius: 20px;
}

.button-icon-new--styles-add-plan-travel .button-icon-new__text {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;

  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.button-icon-new--styles-add-plan-travel .button-icon-new__icon {
  display: none;
}

.button-icon-new__text {
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;

  color: $basic_blue_light;
}

.button-icon-new__icon {
  fill: $basic_blue_light;
  width: 16px;
  height: 12px;
}

@media (min-width: $tablet-breakpoint) {
  .button-icon-new {
    padding-left: 33px;
    padding-right: 36px;
  }

  .button-icon-new--styles-add-plan-travel {
    justify-content: space-between;
  }

  .button-icon-new--styles-add-plan-travel .button-icon-new__text {
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;

    letter-spacing: 0.01em;
    text-transform: uppercase;
  }

  .button-icon-new--styles-add-plan-travel .button-icon-new__icon {
    display: block;
  }

  .button-icon-new__text {
    font-size: 24px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-breakpoint) {
  .button-icon-new {
    padding-left: 32px;
    padding-right: 35px;
  }
}
