.contact {
  display: flex;
  align-items: center;
}

.contact:before {
  content: "";
  width: 45px;
  height: 45px;
  margin-right: 16px;
}

.contact__icon {

}

.contact__text {
  margin-top: ;
  margin-bottom: 0;
}