.contact {
  display: flex;
  align-items: center;
}

.contact__icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 16px;
}

.contact__icon--size {
  @include visually-hidden;
}

.contact__icon--second--style-icon {
  @include visually-hidden;
}

.contact__text {
  @include reset-margin-text;
  white-space: nowrap;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  color: #192144;
}

@media (min-width: $tablet-breakpoint) {
  .contact__icon {
    width: 68px;
    height: 68px;
  }

  .contact__text {
    font-size: 28px;
    line-height: 28px;
  }
}

@media (min-width: $desktop-breakpoint) {
  .contact__icon {
    @include visually-hidden;
    margin-right: 0;
  }

  .contact__icon--size {
    @include visually-hidden--off;
    width: 50px;
    height: 50px;
  }

  .contact__text {
    @include visually-hidden;
  }
}