@import "button-icon-new";
@import "country-card";

.countries {
  background-color: #192144;
}

.countries__wrap {
  padding-top: 71px;
  padding-bottom: 34px;
  border-radius: 0 0 $mobile-border-radius-block $mobile-border-radius-block;

  background-color: #edeff6;
}

.countries__inner {
  padding-left: 7.81%;
  padding-right: 7.81%;
}

.countries__content {
  display: grid;
}

.countries__title {
  margin-top: 0;
  margin-bottom: 19px;

  font-weight: bold;
  font-size: 24px;
  line-height: 24px;

  color: $special-orange;
}

.countries__text {
  width: 80%;

  margin-top: 0;
  margin-bottom: 60px;

  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  color: $special_grey;
}

.countries__list {
  list-style: none;
  margin: 0 0 25px;
  padding: 0;
}

.countries__list-item {
  margin-bottom: 8px;
}

.countries__list-item:last-of-type {
  margin-bottom: 0;
}

.countries__button-more {
  padding-left: 23px;
  padding-right: 23px;
}

@media (min-width: $tablet-breakpoint) {
  .countries__wrap {
    padding-top: 73px;
    padding-bottom: 80px;
    border-radius: 0 0 $tablet-border-radius-block $tablet-border-radius-block;
  }

  .countries__inner {
    padding-left: 9.89%;
    padding-right: 9.89%;
  }

  .countries__content {
    position: relative;
    z-index: 10;
  }

  .countries__content::before {
    content: "";

    position: absolute;
    z-index: -10;
    top: 0;
    right: -36px;

    width: 288px;
    height: 574px;

    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .countries__title {
    font-size: 45px;
    line-height: 45px;

    margin-bottom: 57px;
  }

  .countries__text {
    width: 61.36%;

    margin-bottom: 104px;

    font-size: 28px;
    line-height: 33px;
  }

  .countries__list {
    position: relative;

    margin-bottom: 44px;
  }

  .countries__list::before {
    content: "";

    position: absolute;
    top: -38px;
    left: -36px;

    width: 141px;
    height: 141px;
    border-radius: 20px;

    background-color: #e2e5f2;
  }

  .countries__list-item {
    margin-bottom: 11px;
  }

  .countries__list-item:last-of-type {
    position: relative;
  }

  .countries__list-item:last-of-type::before {
    content: "";
    position: absolute;
    z-index: 10;

    bottom: -5px;
    width: 100%;
    height: 85px;
    background-image: linear-gradient(to top, #edeff6 0, transparent 100%);
  }

  .countries__button-more {
    padding-left: 33px;
    padding-right: 32px;
  }
}

@media (min-width: $desktop-breakpoint) {
  .countries__wrap {
    padding-top: 161px;
    padding-bottom: 138px;
  }

  .countries__inner {
    padding-left: 4.16%;
    padding-right: 4.16%;
  }

  .countries__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 60px;
  }

  .countries__content::before {
    top: -73px;
    right: 0;

    width: 287px;
    height: 575px;

    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .countries__title {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;

    margin-bottom: 58px;
    margin-left: 112px;
  }

  .countries__text {
    width: 378px;

    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

    margin-bottom: 98px;
    margin-left: 112px;
  }

  .countries__list {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;


    margin-bottom: 0;
    margin-left: 70px;
  }

  .countries__button-more {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;

    width: 275px;
    min-height: 80px;
    margin-left: 112px;
    padding-right: 36px;
  }
}
