@import "add-plan-travel-top-wrap-item";

.dates-stay {
  padding-top: 24px;
  padding-bottom: 23px;
  padding-left: 21px;
  padding-right: 20px;

  background-color: #ffffff;
}

.dates-stay__top-wrap {
  margin-bottom: 20px;
}

.dates-stay__first-wrap {
  margin-bottom: 23px;
}

.dates-stay__number-travelers {
  margin-bottom: 21px;
}

.dates-stay__amount-days {
  margin-bottom: 20px;
}

.dates-stay__calendar {
  margin-bottom: 22px;
}

@media (min-width: $tablet-breakpoint) {
  .dates-stay {
    padding-top: 48px;
    padding-bottom: 56px;
    padding-left: 42px;
    padding-right: 42px;
  }

  .dates-stay__top-wrap {
    margin-bottom: 35px;
  }

  .dates-stay__first-wrap {
    display: grid;
    grid-template-areas:
      "number-travelers"
      "have-children"
      "amount-days"
      "calendar";

    margin-bottom: 60px;
  }

  .dates-stay__number-travelers {
    grid-area: number-travelers;

    margin-bottom: 25px;
  }

  .dates-stay__amount-days {
    grid-area: amount-days;
    margin-bottom: 0;
  }

  .dates-stay__have-children {
    grid-area: have-children;

    margin-bottom: 27px;
  }

  .dates-stay__calendar {
    grid-area: calendar;

    margin-bottom: 47px;
  }

  .dates-stay__next-step {
    grid-area: next-step;
  }
}

@media (min-width: $desktop-breakpoint) {
  .dates-stay {
    padding-top: 101px;
    padding-bottom: 106px;
    padding-left: 152px;
    padding-right: 152px;
  }

  .dates-stay__top-wrap {
    margin-bottom: 33px;
  }

  .dates-stay__first-wrap {
    margin-bottom: 33px;
    padding-top: 30px;

    grid-template-areas:
      "number-travelers have-children"
      "amount-days ."
      "calendar calendar";

    box-shadow: inset 0 1px 0 0 #e1e3e9;
  }

  .dates-stay__number-travelers {
    margin-bottom: 14px;
  }

  .dates-stay__have-children {
    justify-self: flex-end;
    margin-bottom: 0;
  }

  .dates-stay__calendar {
    margin-bottom: 57px;
  }
}
