.main-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
          "logo close-button"
          "site-nav site-nav"
          "user-nav user-nav"
          "contacts contacts"
          "social social";

  grid-template-rows: min-content;
}

.main-nav--close {
  min-height: 80px;
}

.main-nav--close .main-nav__logo {
  margin-bottom: 0;
}

.main-nav--close .main-nav__close-button {
  margin-bottom: 0;
}

.main-nav--close .main-nav__site-nav {
  display: none;
}

.main-nav--close .main-nav__user-nav {
  display: none;
}

.main-nav--close .main-nav__contacts {
  display: none;
}

.main-nav--close .main-nav__social {
  display: none;
}

.main-nav--color {
  background-color: #ffffff;
}

.main-nav--no-js .main-nav__close-button {
  background-color: #ffffff;
  display: none;
}

.main-nav--no-js .main-nav__logo {
  margin-bottom: 76px;
}

.main-nav--no-js .main-nav__close-button {
  margin-bottom: 0;
}

.main-nav--no-js .main-nav__site-nav {
  display: block;
}

.main-nav--no-js .main-nav__user-nav {
  display: block;
}

.main-nav--no-js .main-nav__contacts {
  display: block;
}

.main-nav--no-js .main-nav__social {
  display: flex;
}

.main-nav--color {
  background-color: #ffffff;
}


.main-nav__logo {
  grid-area: logo;

  width: 100px;
  height: 15px;

  //margin-top: 27px;
  margin-bottom: 76px;
}

.main-nav__logo--size {
  width: 96px; // rewrite
}

.main-nav__close-button {
  grid-area: close-button;
  justify-self: flex-end;

  width: 18px;
  height: 19px;
  //margin-top: 25px;
  margin-bottom: 74px;
}

.main-nav__close-button--size {
  width: 25px;
  height: 11px;
}

.main-nav__site-nav {
  grid-area: site-nav;
  justify-self: center;
  margin-bottom: 51px;
}

.main-nav__user-nav {
  grid-area: user-nav;

  margin-bottom: 51px;
}

.main-nav__contacts {
  grid-area: contacts;

  margin-bottom: 41px;
}

.main-nav__social {
  grid-area: social;
  justify-self: center;

  margin-bottom: 41px;
}

// ============ tablet-breakpoint ============

@media (min-width: $tablet-breakpoint) {
  .main-nav {
    --main-nav-item__margin-left: 8.28%;

    min-height: 132px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
            "logo close-button user-nav "
            "site-nav site-nav site-nav"
            "contacts contacts contacts"
            "social social social";
  }

  .main-nav--close .user-nav {
    display: block;
    margin-bottom: 0;
  }

  .main-nav__logo {
    width: 164px; // rewrite
    height: 42px; // rewrite

    //margin-top: 45px; // rewrite
  }

  .main-nav__logo--size {
    width: 166px; // rewrite
  }

  .main-nav__close-button {
    justify-self: center;

    width: 22px; // rewrite
    height: 22px; // rewrite
    //margin-top: 55px; // rewrite
    margin-bottom: 108px; // rewrite
  }

  .main-nav__site-nav {
    justify-self: stretch; // rewrite
    margin-left: var(--main-nav-item__margin-left);
    margin-bottom: 144px; // rewrite
  }

  .main-nav__user-nav {
    justify-self: flex-end;
    //margin-top: 40px;
    margin-bottom: 95px; // rewrite
  }

  .main-nav__contacts {
    margin-left: var(--main-nav-item__margin-left);
    margin-bottom: 129px;
  }

  .main-nav__social {
    justify-self: flex-start;
    margin-bottom: 91px; // rewrite
    margin-left: var(--main-nav-item__margin-left);
    min-width: 139px; // для сетки
  }
}

// ============ desktop-breakpoint ============

@media (min-width: $desktop-breakpoint) {
  .main-nav {
    --main-nav-item__margin-left: 0;

    min-height: 90px;
    grid-template-columns: minmax(200px, 1fr) 775px minmax(100px, 1fr) minmax(188px, 1fr);
    grid-template-areas:
            "logo site-nav contacts user-nav";
  }

  .main-nav--close .main-nav__site-nav {
    display: flex;
  }

  .main-nav--close .main-nav__user-nav {
    display: block;
  }

  .main-nav--close .main-nav__contacts {
    display: flex;
  }

  .main-nav--close .main-nav__social {
    display: none;
  }

  .main-nav--color {
    background-color: #ffffff;
  }

  .main-nav--no-js .main-nav__logo {
    margin-bottom: auto;
  }

  .main-nav__logo {
    width: 198px; // rewrite
    height: 60px; // rewrite

    //margin-top: 47px; // rewrite
    margin-bottom: 0; // rewrite
  }

  .main-nav__logo--size {
    width: 200px; // rewrite
    height: 52px; // rewrite
  }

  .main-nav__close-button {
    display: none;
  }

  .main-nav__site-nav {
    //align-self: flex-start;
    margin-left: 58px;
    //margin-top: 67px; // rewrite
    margin-bottom: 0; // rewrite
  }

  .main-nav__site-nav--size {
    margin-left: 40px;
  }

  .main-nav__user-nav {
    justify-self: stretch;
    //margin-top: 49px; // rewrite
    margin-bottom: 0; // rewrite
  }

  .main-nav__contacts {
    width: 100px;
    justify-self: flex-end; // rewrite

    //margin-top: 49px;
    margin-bottom: 0; // rewrite
  }

  .main-nav__social {
    display: none;
  }
}
