//ul, // для сетки
//p {
//  margin: 0;
//  padding: 0;
//  list-style: none;
//}

//.main-nav__logo, // для сетки
//.main-nav__close-button,
//.main-nav__site-nav,
//.main-nav__user-nav,
//.main-nav__contacts,
//.main-nav__social {
//  background-color: tomato;
//}

.main-nav__social { // для сетки
  height: 50px;
}

.main-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
          "logo close-button"
          "site-nav site-nav"
          "user-nav user-nav"
          "contacts contacts"
          "social social";
}

.main-nav__logo {
  grid-area: logo;

  width: 100px;
  height: 15px;

  margin-top: 27px;
  margin-bottom: 76px;
}

.main-nav__logo--size {
  width: 96px; // rewrite
}

.main-nav__close-button {
  grid-area: close-button;
  justify-self: flex-end;

  width: 18px;
  height: 19px;
  margin-top: 25px;
  margin-bottom: 74px;
}

.main-nav__close-button--size {
  width: 25px;
  height: 11px;
}

.main-nav__site-nav {
  grid-area: site-nav;
  justify-self: center;
  margin-bottom: 51px;
}

.main-nav__user-nav {
  grid-area: user-nav;

  margin-bottom: 51px;
}

.main-nav__contacts {
  grid-area: contacts;

  margin-bottom: 41px;
}

.main-nav__social {
  min-width: 105px; // для сетки

  grid-area: social;
  justify-self: center;

  margin-bottom: 41px;
}

// ============ tablet-breakpoint ============

@media (min-width: $tablet-breakpoint) {
  .main-nav {
    --main-nav-item__margin-left: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, minmax(min-content, auto));
    grid-template-areas:
            "logo close-button user-nav "
            "site-nav site-nav site-nav"
            "contacts contacts contacts"
            "social social social";
  }

  .main-nav__logo {
    width: 164px; // rewrite
    height: 42px; // rewrite

    margin-top: 45px; // rewrite
  }

  .main-nav__logo--size {
    width: 166px; // rewrite
  }

  .main-nav__close-button {
    justify-self: center;

    width: 22px; // rewrite
    height: 22px; // rewrite
    margin-top: 55px; // rewrite
    margin-bottom: 108px; // rewrite
  }

  .main-nav__site-nav {
    justify-self: stretch; // rewrite
    margin-left: var(--main-nav-item__margin-left);
    margin-bottom: 144px; // rewrite
  }

  .main-nav__user-nav {
    justify-self: flex-end;
    margin-bottom: 95px; // rewrite
    margin-top: 40px;
  }

  .main-nav__contacts {
    margin-left: var(--main-nav-item__margin-left);
    margin-bottom: 129px;
  }

  .main-nav__social {
    justify-self: flex-start;
    margin-bottom: 91px; // rewrite
    margin-left: var(--main-nav-item__margin-left);
    min-width: 139px; // для сетки
  }
}

// ============ desktop-breakpoint ============

@media (min-width: $desktop-breakpoint) {

  .main-nav {
    --main-nav-item__margin-left: 0;

    grid-template-columns: minmax(200px, 1fr) 775px minmax(100px, 1fr) minmax(188px, 1fr);
    grid-auto-columns: 200px 1fr 50px 50px minmax(min-content, auto);
    grid-template-rows: auto;
    grid-template-areas:
            "logo site-nav contacts user-nav";
  }

  .main-nav__logo {
    width: 198px; // rewrite
    height: 60px; // rewrite

    margin-top: 47px; // rewrite
    margin-bottom: 0; // rewrite
  }

  .main-nav__logo--size {
    width: 200px; // rewrite
    height: 52px; // rewrite
  }

  .main-nav__close-button {
    display: none;
  }

  .main-nav__site-nav {
    margin-top: 67px; // rewrite
    margin-bottom: 0; // rewrite
  }

  .main-nav__user-nav {
    margin-top: 49px; // rewrite
    margin-bottom: 0; // rewrite
  }

  .main-nav__contacts {
    width: 100px;
    justify-self: flex-end; // rewrite

    margin-top: 49px;
    margin-bottom: 0; // rewrite
  }

  .main-nav__social {
    display: none;
  }
}
