.main-nav {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
          "logo close-button"
          "site-nav site-nav"
          "user-nav user-nav"
          "contacts contacts"
          "social social";

  grid-template-rows: min-content;
  padding-top: 25px;
  padding-bottom: 29px;
}

.main-nav--close {
  background-color: transparent;
  grid-template-areas:
          "logo close-button";
}

.main-nav--close .main-nav__logo {
  margin-bottom: 0;
}

.main-nav--close .main-nav__close-button {
  margin-bottom: 0;
}

.main-nav--close .main-nav__site-nav {
  display: none;
}

.main-nav--close .main-nav__user-nav {
  display: none;
}

.main-nav--close .main-nav__contacts {
  display: none;
}

.main-nav--close .main-nav__social {
  display: none;
}

.main-nav--color {
  background-color: #ffffff;
}

.main-nav--no-js {
  background-color: #ffffff;
  grid-template-areas:
          "logo close-button"
          "site-nav site-nav"
          "user-nav user-nav"
          "contacts contacts"
          "social social";
}

.main-nav--no-js .main-nav__close-button {
  background-color: #ffffff;
  display: none;
}

.main-nav--no-js .main-nav__logo {
  margin-bottom: 76px;
}

.main-nav--no-js .main-nav__close-button {
  margin-bottom: 0;
}

.main-nav--no-js .main-nav__site-nav {
  display: block;
}

.main-nav--no-js .main-nav__user-nav {
  display: block;
}

.main-nav--no-js .main-nav__contacts {
  display: block;
}

.main-nav--no-js .main-nav__social {
  display: flex;
}

.main-nav--color {
  background-color: #ffffff;
}


.main-nav__logo {
  grid-area: logo;

  width: 100px;
  height: 15px;

  margin-bottom: 76px;
}

.main-nav__logo--size {
  width: 96px;
}

.main-nav__close-button {
  grid-area: close-button;
  justify-self: flex-end;

  width: 18px;
  height: 19px;
  margin-bottom: 74px;
}

.main-nav__close-button--size {
  width: 25px;
  height: 11px;
}

.main-nav__site-nav {
  grid-area: site-nav;
  justify-self: center;
  margin-bottom: 51px;
}

.main-nav__user-nav {
  grid-area: user-nav;

  margin-bottom: 51px;
}

.main-nav__contacts {
  grid-area: contacts;

  margin-bottom: 41px;
}

.main-nav__social {
  grid-area: social;
  justify-self: center;
}

@media (min-width: $tablet-breakpoint) {
  .main-nav {
    --main-nav-item__margin-left: 8.28%;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
            "logo close-button user-nav "
            "site-nav site-nav site-nav"
            "contacts contacts contacts"
            "social social social";
    padding-top: 41px;
    padding-bottom: 92px;
  }

  .main-nav--close {
    align-items: center;
    grid-template-areas: "logo close-button user-nav";

    padding-top: 41px;
    padding-bottom: 41px;
  }

  .main-nav--close .user-nav {
    display: block;
    margin-bottom: 0;
  }

  .main-nav--no-js {
    align-items: stretch;
    grid-template-areas:
            "logo close-button user-nav "
            "site-nav site-nav site-nav"
            "contacts contacts contacts"
            "social social social";
  }

  .main-nav__logo {
    width: 164px;
    height: 42px;
  }

  .main-nav__logo--size {
    width: 166px;
  }

  .main-nav__close-button {
    justify-self: center;

    width: 22px;
    height: 22px;
    margin-top: 14px;
    margin-bottom: 108px;
  }

  .main-nav__close-button--size {
    width: 25px;
    height: 11px;
    margin-top: 0;
  }

  .main-nav__site-nav {
    justify-self: stretch;
    margin-left: var(--main-nav-item__margin-left);
    margin-bottom: 144px;
  }

  .main-nav__user-nav {
    justify-self: flex-end;
    margin-bottom: 95px;
  }

  .main-nav__contacts {
    margin-left: var(--main-nav-item__margin-left);
    margin-bottom: 129px;
  }

  .main-nav__social {
    justify-self: flex-start;
    margin-left: var(--main-nav-item__margin-left);
  }
}

@media (min-width: $desktop-breakpoint) {
  .main-nav {
    --main-nav-item__margin-left: 0;

    grid-template-columns: minmax(200px, 1fr) 775px minmax(100px, 1fr) minmax(188px, 1fr);
    grid-template-areas:
            "logo site-nav contacts user-nav";
    padding-top: 17px;
    padding-bottom: 13px;
  }

  .main-nav__site-nav {
    align-items: center;
  }

  .main-nav--close .main-nav__site-nav {
    display: flex;
  }

  .main-nav--close .main-nav__user-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-nav--close .main-nav__contacts {
    display: flex;
    align-items: center;
  }

  .main-nav--close .main-nav__social {
    display: none;
  }

  .main-nav--color {
    background-color: #ffffff;
  }

  .main-nav--no-js .main-nav__logo {
    margin-bottom: auto;
  }

  .main-nav__logo {
    width: 198px;
    height: 60px;

    margin-bottom: 0;
  }

  .main-nav__logo--size {
    width: 200px;
    height: 52px;
  }

  .main-nav__close-button {
    display: none;
  }

  .main-nav__site-nav {
    width: 479px;
    margin-left: 58px;
    margin-bottom: 0;
  }

  .main-nav__site-nav--size {
    margin-left: 40px;
  }

  .main-nav__user-nav {
    justify-self: stretch;
    margin-bottom: 0;
  }

  .main-nav__contacts {
    width: 100px;
    justify-self: flex-end;

    margin-bottom: 0;
  }

  .main-nav__social {
    display: none;
  }
}
