@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-button-styles {
  padding: 0;
  border: none;
  background-color: transparent;
  box-sizing: content-box;
}

@mixin reset-margin-text {
  margin-top: 0;
  margin-bottom: 0;
}

@mixin increase-clickable-point {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 15px;
  margin: -15px;
}
