.page {
  display: grid;
  max-width: 1440px;

  margin: 0 auto;

  background-color: #182044;
}

.page__header { // временно для разработки
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  z-index: 30;
}

.page__header--no-js {
  position: static;
  top: auto;
  left: auto;
  right: auto;
}

.page__main-nav {
  padding-top: 28px;


  padding-bottom: 28px;


  padding-left: 7.81%;
  padding-right: 7.5%;
}

.page__wrapper-travelers {
  background-color: #e6e8f1;
}

.page__travelers {
  overflow: hidden;
  border-radius: 0 0 $mobile-border-radius-block $mobile-border-radius-block;
}

.page__main-second-wrap {
  position: relative;
  z-index: 10;
}

.page__footer {
  position: relative;
  z-index: 10;
}

@media (min-width: $tablet-breakpoint) {
  .page__main-nav {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 5.2%;
    padding-right: 5.2%;
  }

  .page__travelers {
    border-radius: 0 0 $tablet-border-radius-block $tablet-border-radius-block;
  }
}

@media (min-width: $desktop-breakpoint) {
  .page {
    padding-top: 33px;

    background-color: #161c35;
  }

  .page__main-nav {
    padding-top: 13px;
    padding-bottom: 17px;

    padding-left: 4.16%;
    padding-right: 4.16%;
  }

  .page__header--no-js {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
  }
}
