.quote {
  margin: 0;

  display: flex;
  flex-direction: column;
}

.quote__text {
  margin-bottom: 18px;

  quotes: "«" "»";

  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;
}

.quote__author {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;
}

@media (min-width: $tablet-breakpoint) {
  .quote__text {
    font-size: 28px;
    line-height: 33px;
  }

  .quote__author {
    font-size: 21px;
    line-height: 25px;
  }
}

@media (min-width: $desktop-breakpoint) {
  .quote__text {
    line-height: 32px;
  }

  .quote__author {
    line-height: 24px;
  }
}
