.tags-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tags-list--color .tags-list__item{
  color: rgba($special_grey, 0.6);
}


.tags-list--justify-start {
  justify-content: start;
}

.tags-list__item {
  margin-right: 5px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  color: $special_grey;
}

.traveler-card__tags-item:last-of-type {
  margin-right: 0;
}

@media (min-width: $tablet-breakpoint) {
  .tags-list__item {
    font-size: 20px;
    line-height: 23px;
  }

}
