.traveler-card {
  min-width: 270px;
  box-shadow: 0 0 10px black;  // временно для сетки
}

.traveler-card__top-wrap {
  position: relative;
}

.traveler-card__wrap-image {
  min-width: 270px;
  height: 270px;
  overflow: hidden;
}

.traveler-card__image {
  display: block;

  width: 100%;
  max-width: 100%;
  height: auto;
}

.traveler-card__level {
  position: absolute;
  left: 17px;
  top: 17px;

  min-width: 60px;
  min-height: 60px; // временно для сетки
}

.traveler-card__bottom-wrap {
  position: relative;
  padding-top: 27px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
}

.traveler-card__desired-countries {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  position: absolute;
  bottom: calc(100% - 17px);
  left: 50%;
  transform: translateX(-50%);

  max-width: 100%;
  width: 100%;
}

.traveler-card__desired-countries-item {
  min-width: 35px;
  margin-right: 20px;
}

.traveler-card__desired-countries-item:last-of-type {
  margin-right: 0;
}

.traveler-card__desired-countries-item-flag {
  width: 35px;
  height: 25px;
}

.traveler-card__first-wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 15px;
  margin-left: 19.62%;
  margin-right: 25.55%;
}

.traveler-card__indicator-online {
  min-width: 6px;
  height: 6px;

  margin-right: 10px;
  background-color: #f97676;
  border-radius: 50%;
}

.traveler-card__desired-countries--color {
  background-color: #81e31e;
}

.traveler-card__name {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 21px;
  line-height: 21px;

  color: $basic_blue_light;
}

.traveler-card__tags {
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  min-height: 36px; // временно для сетки
  margin: 0 13.81% 14px 17.88%;
}

.traveler-card__tags-item {
  margin-right: 5px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  color: $special_grey;
}

.traveler-card__tags-item:last-of-type {
  margin-right: 0;
}

.traveler-card__desired-transport {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  min-width: 44.44%;
  align-self: center;
}

.traveler-card__desired-transport-icon {
  width: 17px;
  height: 19px;

  fill: rgba(#1d2e5b, 0.3);
}

.traveler-card__desired-transport-icon--size-bike {
  width: 22px;
  height: 19px;
}

.traveler-card__desired-transport-icon--size-bus {
  width: 19px;
  height: 20px;
}

.traveler-card__desired-transport-icon--size-plane {
  width: 23px;
  height: 22px;
}

.traveler-card__desired-transport-icon--size-run {
  width: 17px;
  height: 19px;
}

.traveler-card__desired-transport-item {
  width: 30px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.traveler-card__desired-transport-item--active .traveler-card__desired-transport-icon {
  fill: $basic_blue_light;
}

.traveler-card__desired-transport-item--active .traveler-card__desired-transport-icon--size-plane {
  fill: #101d41;
}

@media (min-width: $tablet-breakpoint) {
  .traveler-card__wrap-image {
    height: 286px; // временно для сетки
  }

  .traveler-card__desired-countries-item-flag {
    height: 24px;
  }

  .traveler-card__level {
    left: 22px;
    top: 20px;

    min-width: 60px;
  }

  .traveler-card__bottom-wrap {
    padding-top: 31px;
    padding-bottom: 27px;
  }

  .traveler-card__desired-countries {
    max-width: 100%;
    min-width: 53.33%;
    height: 25px;
  }

  .traveler-card__first-wrap {
    margin-bottom: 23px;
    margin-left: 13.62%;
    margin-right: 20.55%;
  }

  .traveler-card__indicator-online {
    width: 8px;
    height: 8px;

    margin-right: 14px;
  }

  .traveler-card__name {
    min-width: 150px;

    font-size: 24px;
    line-height: 22px;
  }

  .traveler-card__tags {
    margin-bottom: 24px;

    margin-left: 4.03%;
    margin-right: 4.03%;
  }

  .traveler-card__tags-item {
    font-size: 20px;
    line-height: 23px;
  }
}
