:root {
  // color
  --basic-yellow-color: #ffd74b;

  --basic-blue-color: #161c35;
  //--basic-blue-color--transparent: rgba(#161C35, 0.3);

  --special-orange: #ff8d30;

  --special-yellow-dark: #ffbd30;
}

// color
$basic-yellow-color: #ffd74b;
$basic-blue-color: #161c35;
$basic_blue_light: #1d2e5b;
$special-orange: #ff8d30;
$special-yellow-dark: #ffbd30;
$special_grey: #444444;

// breakpoints
$tablet-breakpoint: 688px;
$desktop-breakpoint: 1320px;
